###User Input

In [1]:
name = input("what is your name ?")
print ("your name is : "+name)

what is your name ?hero honda
your name is : hero honda

In [2]:
name = input("what is your name ?")
age = input("what is your age ?")

print ("your name is : "+name)
print ("your age is : "+str(age))

what is your name ?heroine
what is your age ?19
your name is : heroine
your age is : 19

###Maths Functions

In [3]:
import math

In [4]:
pi=3.14
x=1
y=5
z=4

print(math.ceil(pi))
print(math.floor(pi))
print(round(pi))
print(abs(pi))
print(pow(pi,2))
print(math.sqrt(pi))
print(max(x,y,z))
print(min(x,y,z))

4
3
3
3.14
9.8596
1.772004514666935
5
1

###slicing and indexing###

In [7]:
name = "hero honda"
first_name = name[:5]
last_name = name[5:]
funky_name = name[::2]
reversed_name = name[::-1]

print(first_name)
print(last_name)
print(funky_name)
print(reversed_name)

hero
honda
hr od
adnoh oreh

###Conditional statememts

In [19]:
dev = int(input("enter your age : "))
if dev == 100:
  print("you are a century old hag")
elif dev >= 18:
  print("you are an adult")
elif dev < 18:
  print("you are not an adult")
else :

  print ("you are still in the sack")

enter your age : 63
you are an adult

###logical ops

In [21]:
temp = int(input("what is the temperature outside? : "))

if temp >= 20 and temp <=33 :
  print("sexy weather outside !!")
elif temp <13 and temp >33 :
  print("shitty weather oustide !!")

what is the temperature outside? : 29
sexy weather outside !!