###variables####

In [3]:
name =  "hero"
print (name)
print (" your name is :" + name)

hero
 your name is :hero

In [4]:
first_name = "hero"
last_name = "honda"
full_name = first_name + " " + last_name
print (full_name)

hero honda

In [6]:
age = 21
age += 3
print ("your sisters age is : "+ str(age) + " i like your sister")

your sisters age is : 24 i like your sister

##multiple assignment##

In [7]:
age, name, attractive = 21, "hero", True
print (age)
print (name)
print (attractive)

21
hero
True

###string ops###

In [8]:
name = " hero "

print(len(name))
print(name)
print(name.find("o"))
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.isdigit())
print(name.isalpha())
print(name.replace("o", "a"))
print(name*3)

6
 hero
4
 hero
 HERO
 hero
False
False
 hera
 hero  hero  hero

###typecasting###

In [11]:
x=7
y=8.0
z="9"

print(x)
print("your required piece of shit is : " +str(y))
print("here is another one : "+str(z))

7
your required piece of shit is : 8.0
here is another one : 9